#banner {
    background-image: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5), rgba(3, 7, 18, 0) 100%),url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 560px;
    border-radius: 40px;
}